{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="background-image-form">
    <div class="form-gradient-background">
        <div class="form-container">
            <h3 class="mb-4">{% trans "SIGN IN" %}</h3>
            <p class="mb-4">{% blocktrans %}Welcome back to RedeemIt! Please log in to access our catalogue and redeem
                rewards.
            </p>
            <p class="mb-4">If you don't have an account yet, <a class="link" href="{{ signup_url }}">sign up!</a>
                {% endblocktrans %}</p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="home-button" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}