{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="home-background-image" style="background-image: linear-gradient(to bottom,
rgba(48, 14, 130, 0.9),rgba(48, 14, 130, 0)), url('{% static "images/signup.webp" %}');">
    <div class="gradient">
        <div class="form-container">
            <h3>{% trans "SIGN IN" %}</h3>
            <p>{% blocktrans %}Welcome back to RedeemIt!</p>
            <p>If you don't have an account yet, <a class="link" href="{{ signup_url }}">sign up!</a>
                {% endblocktrans %}</p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="redeemit-button blue-button" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}