{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}  {# New line added #}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="home-background-image" style="background-image: linear-gradient(to bottom,
rgba(48, 14, 130, 0.9),rgba(48, 14, 130, 0)), url('{% static "images/signup.webp" %}');">
  <div class="gradient">
    <div class="form-container signup-form">
      <h1>{% trans "Sign Up" %}</h1>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
      <form id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="redeemit-button blue-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}