/* -------------------------------------- General Body Styling */
body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

/* -------------------------------------- Django Messages */
.custom-message {
    padding: 20px;
    text-align: center;
    background-color: #decd62;
    color: #300e82;
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transform: translateY(-5px);
}

/* Smooth fade-in */
.custom-message.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Smooth fade-out */
.custom-message.fade-out {
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* -------------------------------------- Navigation Bar */
.navbar {
    background-color: #300e82;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hover Link Styling */
.nav-link:hover {
    color: #decd62;
}

/* Active Link Styling */
.nav-link.active {
    text-decoration: underline;
}

/* -------------------------------------- Footer styling */
.footer {
    background-color: #300e82;
}

.footer p {
    font-family: "Montserrat", serif;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: white;
}

/* -------------------------------------- Button generic styling */
.redeemit-button {
    width: 90%;
    max-width: 250px;
    margin: 10px auto;
    padding: 8px;
    border-radius: 25px;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
}

.blue-button {
    background-color: #300e82;
    border: 2px solid transparent;
    color: white;
}

.blue-button:hover {
    background-color: #decd62;
    color: #300e82;
}

.yellow-button {
    background-color: #decd62;
    border: 2px solid transparent;
    color: #300e82;
}

.yellow-button:hover {
    background-color: #300e82;
    color: white;
}

.transparent-button {
    background-color: transparent;
    border: 2px solid #decd62;
    color: #decd62;
}

.transparent-button:hover {
    background-color: #decd62;
    color: #300e82;
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0.9;
}

/* -------------------------------------- Gradient generic styling */
.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    height: auto;
    padding: 15px;
    margin: auto;
    /* Center on smaller screens */
    background: linear-gradient(#300e82, #586bbe, #9b6b82, #decd62);
}

/* -------------------------------------- Form generic styling */
.form-container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.form-content h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-content p {
    font-size: 0.8rem;
    margin: 10px 0;
}

/* -------------------------------------- Hero Section with Welcome message, Picture and Search bar */
.hero-section {
    margin: 0;
    padding: 25px;
    background-color: #300e82;
    text-align: center;
}

.welcome-section {
    color: white;
}

.welcome-section h1 {
    font-size: 2.5rem;
}

.hero-image {
    width: 100%;
    box-sizing: border-box;
}

#catalogue-header {
    background-color: #dbc962;
}

#catalogue-header h5 {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.card-title,
.card-text {
    color: #300e82;
}

.card-title {
    text-transform: uppercase;
}

/* -------------------------------------- Catalogue detail */
.card-detail.container {
    width: 90%;
}

/* -------------------------------------- Home page, forms for login, logout & Register */
/* Full-screen background image */
.home-background-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-form label {
    display: none;
}

.signup-form li {
    font-size: 0.6rem;
    text-align: left;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

.signup-form p {
    font-size: 1rem;
    list-style: none;
}

/* -------------------------------------- Cart page */
.cart-container {
    padding-left: 0;
    padding-right: 0;
    width: 85%;
    margin: 0 auto;
}

.cart-container ul {
    padding: 0;
}

.cart-image {
    display: none;
}

.empty-cart {
    text-align: center;
    margin-top: 30px;
}

.empty-cart img {
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
}

/* -------------------------------------- Media queries for screens 768px */
@media (min-width: 768px) {
    .hero-section {
        padding: 25px 40px;
    }

    .welcome-section h1 {
        font-size: 3rem;
    }

    .welcome-section h2 {
        font-size: 2rem;
    }

    .form-container {
        padding: 24px;
    }

    .form-content h3 {
        font-size: 1.8rem;
    }

    .form-content p {
        font-size: 1rem;
    }

    .redeemit-button {
        font-size: 1rem;
    }

    .cart-container {
        width: 80%;
    }

    .cart-image {
        display: flex;
        width: 20%;
    }
}

/* media queries for screens 992px and larger */
@media (min-width: 992px) {
    .hero-section {
        padding: 25px 50px;
    }

    .welcome-section h1 {
        font-size: 3.5rem;
    }

    .welcome-section h2 {
        font-size: 2.5rem;
    }

    .form-container {
        padding: 30px;
    }

    .form-content h3 {
        font-size: 2.2rem;
    }

    .form-content p {
        font-size: 1.2rem;
    }

    .empty-cart img {
        max-width: 500px;
    }
}

/* media queries for screens 1200px and larger */
@media (min-width: 1200px) {
    .hero-section {
        padding: 25px 70px;
    }

    .form-container {
        padding: 45px;
    }

}