/* -------------------------------------- General Body Styling */
body {
    background-color: white;
    font-family: "Poppins", sans-serif;
}

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

/* -------------------------------------- Navigation Bar */
.navbar {
    background-color: #300e82;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hover Link Styling */
.nav-link:hover {
    color: #decd62;
}

/* Active Link Styling */
.nav-link.active {
    text-decoration: underline;
}

/* -------------------------------------- Footer styling */
.footer {
    background-color: #300e82;
}

.footer p {
    font-family: "Montserrat", serif;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: white;
}

/* -------------------------------------- Hero Section with Welcome message, Picture and Search bar */
#hero-section {
    margin: 0;
    padding: 20px 30px;
    background-color: #300e82;
    text-align: center;
}

/* Welcome Section */
.welcome {
    color: white;
}

#welcome-name h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

#welcome-message h4 {
    font-size: 1rem;
}

/* Square image with gradient Background */
.gradient-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: linear-gradient(#300e82, #586bbe, #9b6b82, #decd62);
}

#square-image {
    width: 92%;
}

/* Search Button */
.search-button {
    width: 250px;
    background-color: transparent;
    color: #decd62;
    border: 2px solid #decd62;
    padding: 8px;
    border-radius: 25px;
    font-size: 1rem;
}

.search-button:hover {
    background-color: #decd62;
    color: #300e82;
}

/* Catalogue Header */
#catalogue-header {
    background-color: #dbc962;
}

#catalogue-header h5 {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.card-title, .card-text {
    color: #300e82;
}

.card-title {
    text-transform: uppercase;
}

/* -------------------------------------- Catalogue detail */
/* General Styles for the Catalogue Detail Page */
.card-detail.container {
    width: 90%;
}

/* Add to Cart Button Styling */
.add-cart-button {
    width: 250px;
    background-color: #decd62;
    color: #300e82;
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 25px;
    font-size: 1rem;
}

.add-cart-button:hover {
    background-color: #300e82;
    color: white;
}


/* -------------------------------------- media queries for screens 768px */
@media (min-width: 768px) {
    .gradient-background {
        width: 400px;
        height: 400px;
    }

    #welcome-name h1 {
        font-size: 3rem;
    }
    
    #welcome-message h4 {
        font-size: 1.5rem;
    }
}

/* media queries for screens 992px and larger */
@media (min-width: 992px) {
    #hero-section .container {
        width: 80%;
    }

    .gradient-background {
        width: 450px;
        height: 450px;
    }

    .welcome {
        margin-top: 30px;
    }

    #welcome-name h1 {
        font-size: 3.5rem;
    }
    
    #welcome-message h4 {
        font-size: 2rem;
    }

    .button {
        width: 50%;
        margin: 15px 0;
    }
}