{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="cart-container my-5">
    {% if not cart_items %}
    <div class="empty-cart">
        <h1 class="text-center">Your Cart is Empty</h1>
        <img src="{% static 'images/empty_cart.webp' %}" alt="Illustration of an empty shopping cart">
        <a href="{% url 'catalogue_home' %}" class="redeemit-button yellow-button" aria-label="Start Shopping">
            Start Shopping!
        </a>
    </div>
    {% else %}

    <h1 class="text-center">Your Cart</h1>
    <ul>
        {% for item in cart_items %}
        <li class="d-flex align-items-center justify-content-between mb-5">
            <!-- Item Image -->
            <img class="img-thumbnail cart-image" src="{{ item.item.resized_image_url }}"
                alt="{{ item.item.image_description }}">
            <!-- Item Details -->
            <div>
                <p class="m-0 card-title"><strong>{{ item.item.reward_name }}</strong></p>
                <p class="m-0 text-secondary">Points Cost: {{ item.total_points }}</p>
                <!-- Delete Form -->
                <form method="POST" action="{% url 'delete_cart_item' item.item.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="trash-button"
                        aria-label="Remove {{ item.item.reward_name }} from cart">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </form>
            </div>
            <!-- Quantity Form -->
            <div class="d-flex align-items-center justify-content-between">
                <p class="m-0 text-secondary">Quantity:</p>
                <form method="POST" action="{% url 'update_cart_quantity' item.item.slug %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="0" style="width: 50px;"
                        aria-label="Quantity">
                    <button type="submit" class="blue-button">Update</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Redemption & Continue Shopping Buttons -->
    <div class="text-center">
        <!-- Modal Trigger -->
        {% if balance_sufficient %}
        <button type="button" class="redeemit-button yellow-button" data-bs-toggle="modal"
            data-bs-target="#confirmRedeemModal" aria-label="Redeem cart for {{ total_points_cost }} points">
            RedeemIt - {{ total_points_cost }} Points
        </button>
        {% else %}
        <button type="button" class="redeemit-button disabled-button" disabled>
            Oops, {{ missing_points }} points short!
        </button>
        {% endif %}

        <a href="{% url 'catalogue_home' %}" class="redeemit-button blue-button">
            Continue Shopping!
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmRedeemModal" tabindex="-1" aria-labelledby="confirmRedeemModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmRedeemModalLabel">Confirm Redemption</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to redeem your cart for {{ total_points_cost }} points?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- Form Submission Button -->
                    <form action="{% url 'redeem_cart' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}