{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <h1>Your cart</h1>
    {% if cart_items %}
    <ul>
        {% for item in cart_items %}
        <li>
            {{ item.item.reward_name }} -
            Quantity:
            <form method="POST" action="{% url 'update_cart_quantity' item.item.slug %}" style="display: inline;">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 50px;">
                <button type="submit" class="btn btn-sm btn-primary">Update</button>
            </form>
            - Total Points: {{ item.total_points }}
            <form method="POST" action="{% url 'delete_cart_item' item.item.slug %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <p>Total Points Cost: {{ total_points_cost }}</p>
    {% else %}
    <p>No items in your cart.</p>
    {% endif %}
    <button class="add-cart-button quicksand-font">Proceed to Checkout</button>
</div>

{% endblock %}