{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    {% if cart_items %}
    <h1 class="text-center">Your Cart</h1>
    <ul>
        {% for item in cart_items %}
        <li class="d-flex align-items-center justify-content-between mb-3">
            <!-- Item Image -->
            <img src="{{ item.item.image.url }}" alt="{{ item.item.image_description }}" class="img-thumbnail"
                style="width: 100px; height: auto;">
            <!-- Item Details -->
            <div>
                <p class="m-0 card-title"><strong>{{ item.item.reward_name }}</strong></p>
                <p class="m-0 text-secondary">Points Cost: {{ item.total_points }}</p>
            </div>
            <!-- Quantity Form -->
            <form method="POST" action="{% url 'update_cart_quantity' item.item.slug %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="0" style="width: 50px;">
                <button type="submit" class="btn btn-outline-secondary">Update</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <div class="text-center">
        {% if balance_sufficient %}
        <button class="redeemit-button yellow-button">RedeemIt - {{ total_points_cost }} Points</button>
        {% else %}
        <button class="redeemit-button yellow-button" disabled>
            Need {{ missing_points }} points more!
        </button>
        {% endif %}
    </div>
    <!-- Confirm and Cancel Buttons -->
    <div class="text-center" style="display: none;">
        <button id="redeemit-button confirm-btn">
            Confirm Redemption
        </button>
        <button id="redeemit-button cancel-btn">
            Cancel
        </button>
    </div>
    {% else %}
    <h1 class="text-center">Your Cart in Empty</h1>
    {% endif %}
</div>
{% endblock %}