{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Displaying Django messages -->
{% if messages %}
<div class="custom-message-container">
    {% for message in messages %}
    <div class="custom-message alert text-center alert-{{ message.tags }}">
        {{ message | safe }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="card-detail container my-5">
    <div class="row align-items-center">
        <!-- Image section -->
        <div class="col-12 col-md-4 text-center my-4">
            <img src="{{ selected_item.image.url }}" class="img-fluid img-thumbnail"
                alt="{{ selected_item.reward_name }}">
        </div>

        <!-- Details section -->
        <div class="col-12 col-md-8 ">
            <h5 class="card-title">{{ selected_item.reward_name }} -
                <small>{{ selected_item.reward_value }}&euro;</small></h5>
            <p class="text-secondary"><strong>Points Cost: {{ selected_item.points_cost }}</strong></p>
            <h6 class="card-title mt-4">About</h6>
            <p>{{ selected_item.description }}</p>
            <h6 class="card-title mt-4">Terms & Conditions</h6>
            <p class="text-muted"><small>{{ selected_item.reward_terms_and_conditions }}</small></p>
            {% if selected_item.stock_quantity == 0 %}
            <p class="text-danger bg-warning p1">Current Stock: {{ selected_item.stock_quantity }}</p>
            {% else %}
            <p class="text-secondary"><strong>Current Stock: {{ selected_item.stock_quantity }}</strong></p>
            {% endif %}
        </div>

        <!-- Employee Actions: Add to Cart -->
        {% if user.userprofile.role == "employee" %}
        <div class="col-12 mt-4 text-center">
            <form method="POST" action="{% url 'add_to_cart' selected_item.slug %}">
                {% csrf_token %}
                <button type="submit" class="redeemit-button yellow-button">Add to Cart</button>
                <a href="{% url 'catalogue_home' %}" class="redeemit-button blue-button">
                    Continue Shopping!
                </a>
            </form>
        </div>
        {% endif %}

        <!-- Admin Actions: Back to Catalogue -->
        {% if user.userprofile.role == "admin" %}
        <div class="col-12 mt-4 text-center">
            <a href="{% url 'catalogue_home' %}" class="redeemit-button blue-button">
                Back To Catalogue
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}